{% extends 'base.html.twig' %}
{% block title %}Beher{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .container img { display: block; max-width: 100%; height: auto; }
    #elm:hover { background-color:#007BFF!important; color: white; }
    .box {position:relative;}
    .text-block { position: absolute; bottom: 20px; right: 20px; background-color: black; color: white; padding-left: 20px; padding-right: 20px; }
    a { text-decoration: none!important; }
    .container{ margin-bottom: 200px; margin-top: 50px; }
    .middle { margin: auto; padding: 10px; }
    li { list-style: none!important;}
</style>
<div class="card">
  <div class="card-header">
  <a href="https://beher.com" target="_blank">Beher</a>
  </div>
  <div class="card-body">
    <a href="https://beher.com/" target="_blank"><img src="https://beher.com/cto-datos/uploads/2016/09/bernardo-web-4.png"></a>
    <p class="card-text">Los productos ibéricos “Beher” proceden de nuestros propios  “Cerdos 100 % Ibéricos”, criados y alimentados en libertad en nuestras fincas, cumpliendo toda la legislación medioambiental y de bienestar animal, descendientes todos ellos de 3.000 madres reproductoras “100 % Ibéricas”  registradas en el “Libro Genealógico del Cerdo Ibérico”.</p><p>Esta materia prima única, confiere a los productos “Beher” homogeneidad y máxima calidad, como así lo avalan nuestros clientes y los múltiples galardones obtenidos por nuestra marca. En IFFA 2016, el certamen mas importante del mundo del sector cárnico celebrado en Frankfurt (Alemania) “Beher” ha conseguido el Premio Especial como reconocimiento a los productos de mas alta calidad a nivel internacional tanto en JAMONES como en EMBUTIDOS, además de 20 medallas de oro y dos de plata a la totalidad de los productos que ha presentado a concurso.</p><p>Durante la V Feria del Jamón celebrada en Segovia del pasado 16 de Septiembre Beher ganó el  premio al mejor jamón de Cebo de Campo de Campo de Castilla y León y en ediciones anteriores de este Certamen,  Beher fue galardonado con el premio al mejor Jamón Ibérico de Bellota de Castilla y León. </p>
    <div class="card-footer">
    <p>Descargar los PDFS</p>
    <ul>
    <li><a href="https://cdn.lajamonjunta.online/pdf/A.pdf" target="_blank">Lotes variados</a></li>
    <li><a href="https://cdn.lajamonjunta.online/pdf/B.pdf" target="_blank">Catálogo Beher Digital</a></li>
    <li><a href="https://cdn.lajamonjunta.online/pdf/C.pdf" target="_blank">Diptico Loncheado</a></li>
    </ul>
    </div>
    <a href="#" class="btn btn-primary">Los precios no incluyen descuento NI IVA/Transporte, se les ha solicitado un ajuste o PACK.</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
<div class="box">
<img src="https://cdn.lajamonjunta.online/img/beher/A.JPG">
<div class="text-block">
    <h5>JAMÓN DE BELLOTA 100% IBÉRICO ORO PATA NEGRA 32 MESES ETIQUETA NEGRA 41,20€/kg</h5>
    <h6></h6>
  </div>
</div>
</div>
  <div class="col-md-4">
<div class="box">
<img src="https://cdn.lajamonjunta.online/img/beher/C.JPG">
<div class="text-block">
    <h5>JAMÓN DE BELLOTA 50/75% IBÉRICO ORO 44 MESES ETIQUETA ROJA 8 a 9,5 Kg 38,40€/kg</h5>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="box">
<img src="https://cdn.lajamonjunta.online/img/beher/C.JPG">
<div class="text-block">
    <h5>JAMÓN DE BELLOTA 50/75% IBÉRICO ORO 34 MESES ETIQUETA ROJA 7 a 8,5 Kg 38,40€/kg</h5>
  </div>
</div>
</div>
<div class="col-md-4">
  <div class="box">
<img src="https://cdn.lajamonjunta.online/img/beher/A.JPG">
<div class="text-block">
    <h5>JAMÓN BEHER 100% IBÉRICO NEGRA SIN ETIQUETA (Bellota sin Norma) 32 MESES de 7,2 a 9 Kg 30,40€/kg</h5>
  </div>
</div>
</div>
<div class="col-md-4">
  <div class="box">
<img src="https://cdn.lajamonjunta.online/img/beher/A.JPG">
<div class="text-block">
    <h5>JAMÓN DE BELLOTA 100% IB. ORO PATA NEGRA DESH. Y PULIDO 32 MESES ETIQUETA NEGRA 4 a 5 Kg 76,6€/kg</h5>
    <h6></h6>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="box">
<img src="https://cdn.lajamonjunta.online/img/beher/C.JPG">
<div class="text-block">
    <h5>JAMÓN DE BELLOTA 50/75% IBÉRICO ORO DESHUESADO Y PULIDO 44 MESES ETIQUETA ROJA 4 a 5 kg 73,10€/kg</h5>
  </div>
</div>
</div>
<div class="middle">
<img src="https://cdn.lajamonjunta.online/img/B.JPG">
<img src="https://cdn.lajamonjunta.online/img/C.JPG">
<img src="https://cdn.lajamonjunta.online/img/D.JPG">
<img src="https://cdn.lajamonjunta.online/img/E.JPG">
</div>
    </div>
  </div>
{% endblock %}
