{% extends 'base.html.twig' %}

{% block title %}Berídico{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .container img { display: block; max-width: 100%; height: auto; }
    #elm:hover { background-color:#007BFF!important; color: white; }
    .box {position:relative;}
    .text-block { position: static; bottom: 20px; right: 20px; background-color: black; color: white; padding-left: 20px; padding-right: 20px; }
    a { text-decoration: none!important; }
    .container{ margin-bottom: 200px; margin-top: 50px; }
    .col-md-4{ margin-top: 10px; }
</style>
<div class="card">
  <div class="card-header">
  <a href="http://www.beridico.es" target="_blank">Berídico</a>
  </div>
  <div class="card-body">
    <a href="http://www.beridico.es" target="_blank"><img width="400" height="200" src="https://cdn.lajamonjunta.online/img/bd.JPG"></a>
    <p class="card-text">De la fusión de las dos palabras Verídico e Ibérico nace la marca Berídico, que simboliza la máxima calidad y autenticidad en productos ibéricos. Nuestros productos provienen de cerdos adultos criados al aire libre con las mejores garantías de bienestar animal. Cerdos nacidos y criados en nuestras granjas asociadas de las tierras de Extremadura y Huelva.</p>
    <p>Los productos Berídico han sido producidos en la población de Azuaga (Badajoz) siguiendo procesos de maduración en secadero natural tras una larga y lenta curación. Los jamones y paletas Berídico cumplen estrictamente la norma del Jamón ibérico y disponen de un certificado individual único que identifica su calidad, granja de origen, tiempo de maduración y matanza para la mejor garantía e información de nuestros clientes, que como tú, buscan y desean lo más auténtico.</p>
    <p>Los precios aparecen sin el 10% de iva. Hay un 8% de descuento por realizar el pedido antes del 23 de noviembre (lo mantendríamos pasada la fecha) + descuentos por volumen. El envío está incluido en Península y Baleares</p>
    <p>Con un pedido medio de 120 € por persona, el importe total del pedido para 170 destinatarios aproximadamente seria de 20.400 € + iva, por lo que aplicaríamos un 16% de descuento en cada producto. (antes de iva)</p>
    <p>Podemos elaborar packs a medida, pero creo que las opciones de catálogo son más variadas para que podáis elegir piezas , cortados a mano, loncheados,...</p>
    <p>Nuestros productos están certificados y siguen la norma de calidad del Ibérico.</p>
    <img src="https://cdn.lajamonjunta.online/img/dsc.JPG">
    <div class="card-footer">
    <p>Descargar los PDFS</p>
    <ul>
    <li><a href="https://cdn.lajamonjunta.online/pdf/L.pdf" target="_blank">Resto de catálogo</a></li>
    <li><a href="https://cdn.lajamonjunta.online/pdf/K.pdf" target="_blank">Hoja de pedido</a></li>
    </ul>
    </div>
    <a href="#" class="btn btn-primary">Los precios no incluyen IVA(10%) pero tienen un 8% aplicado de descuento y se puede optar a más. El transporte viene incluido</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
<div class="box">
<img src="http://www.beridico.es/es/skin/frontend/incustom/beridico/images/cms/jamones/jamon-iberico-100.jpg">
<div class="text-block">
    <h5>Jamón de Bellota 100% Ibérico Montanera 2016. Pieza de 7,5 Kg aprox 348,75 € (SIN IVA)</h5>
  </div>
</div>
</div>
  <div class="col-md-4">
<div class="box">
<img src="http://www.beridico.es/es/skin/frontend/incustom/beridico/images/cms/jamones/jamon-iberico-50.jpg">
<div class="text-block">
    <h5>Jamón de Bellota Ibérico Montanera 2016. Pieza de 7,5 Kg aprox. 318,75 € (SIN IVA)</h5>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="box">
<img src="http://www.beridico.es/es/skin/frontend/incustom/beridico/images/cms/jamones/jamon-iberico-cebo-campo.jpg">
<div class="text-block">
    <h5>Jamón de Cebo de Campo Ibérico Pieza de 7,5 Kg aprox. 195,00 € (SIN IVA)</h5>
  </div>
</div>
</div>
<div class="col-md-4">
  <div class="box">
<img src="http://www.beridico.es/es/media/catalog/product/cache/1/small_image/230x230/9df78eab33525d08d6e5fb8d27136e95/0/1/01_32.jpg">
<div class="text-block">
    <h5>** LOTE 1 90€ (SIN IVA)</h5>
    <ul>
      <li>Lomo de bellota Ibérico</li>
      <li>Chorizo Ibérico</li>  
      <li>Slachichón Ibérico</li>
      <li>5 sobres de Jamón de bellota Ibérico cortado a mano</li>
    </ul>
  </div>
</div>
</div>
<div class="col-md-4">
  <div class="box">
<img src="http://www.beridico.es/es/media/catalog/product/cache/1/small_image/230x230/9df78eab33525d08d6e5fb8d27136e95/0/1/01_33.jpg">
<div class="text-block">
    <h5>** LOTE 2 68,18€ (SIN IVA)</h5>
    <ul>
      <li>Lomo de cebo de campo Ibérico</li>
      <li>Chorizo Ibérico</li>  
      <li>Slachichón Ibérico</li>
      <li>5 sobres de Jamón de cebo de campo Ibérico cortado a mano</li>
    </ul>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="box">
<img src="http://www.beridico.es/es/skin/frontend/incustom/beridico/images/cms/paletas/paleta-iberica-100.jpg">
<div class="text-block">
    <h5>Paleta de Bellota 100% Ibérica Montanera 2016. Pieza de 5,5 Kg aprox 170,50€ (SIN IVA)</h5>
  </div>
</div>
</div>
    </div>
  </div>
{% endblock %}
