{% extends 'base.html.twig' %}

{% block title %}Chorizo y jamón{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .container img { display: block; max-width: 100%; height: auto; }
    #elm:hover { background-color:#007BFF!important; color: white; }
    .box {position:relative;}
    .text-block { position: absolute; bottom: 20px; right: 20px; background-color: black; color: white; padding-left: 20px; padding-right: 20px; }
    a { text-decoration: none!important; }
    .container{ margin-bottom: 200px; margin-top: 50px; }
</style>
<div class="card">
  <div class="card-header">
  <a href="https://chorizoyjamon.com" target="_blank">Chorizo y jamón</a>
  </div>
  <div class="card-body">
    <a href="https://www.chorizoyjamon.com" target="_blank"><img width="400" height="400" src="https://static1.chorizoyjamon.com/img/chorizoyjamoncom-logo-1477157034.jpg"></a>
    <p class="card-text">Buenas shurs</p>
    <p>Quisiera participar en la conjunta bajando a estos precios si gano la votación. Ya soy usuario del foro y cuento con valoraciones de los shures, el trato es totalmente personalizado y casi inmediato por telegram o mensaje privado.</p>
    <p>Tengo unos productos de excelente calidad y premiados. Todos certificados y etiquetados según la normativa. Garantía "Tierra de sabor" y "Calicer"</p>
    <ul>
      <li>8,5 kg Jamonteño Cebo = 170 €+chorizo regalo</li>
      <li>8,5 Kg Jamonteño Cebo de Campo = 187 €+chorizo regalo</li>
      <li>8,5 Kg Jamonteño Bellota = 314,50 € +chorizo regalo</li>
      <br>
      <li>5 Kg Paletilla Cebo = 80 €</li>
      <li>5 Kg Paletilla Cebo Campo = 85 €</li>
      <li>5 Kg Paletilla Bellota = 125 € </li>
    </ul> 
    <a href="#" class="btn btn-primary">El IVA está incluido y los lotes con envíos gratis!.</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div style="margin: 0 auto;">
    <img class"rounded mx-auto d-block" src="https://chorizoyjamon.com/ofertajamonjunta.jpg">
    </div>
</div>
<div class="row justify-content-around">
</div>
<section class="m-5">
  <h2><span style="color:green;">*Regalo</span> Chorizo Ibérico</h2>
  <h2>GASTOS DE ENVÍO:</h2>
  <p><span style="color:green;">8.90 €</span>hasta 20kg</p>
  <h2>Loncheado y envasado al vacío en sobres de 100gr:</h2>
  <p><span style="color:green;">25 €</span> Se incluyen los huesos.</p>
  <a href="https://www.forocoches.com/foro/showthread.php?t=5653131">Paletillas, embutidos y lotes personalizados:</a><br>
  <a href="https://t.me/ChorizoyJamon">Telegram</a>
</section>
</div>
{% endblock %}