{% extends 'base.html.twig' %}

{% block title %}Embutidos y Jamones Ibéricos Mirabel{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .container img { display: block; max-width: 100%; height: auto; }
    #elm:hover { background-color:#007BFF!important; color: white; }
    .box {position:relative;}
    .text-block { position: absolute; bottom: 20px; right: 20px; background-color: black; color: white; padding-left: 20px; padding-right: 20px; }
    a { text-decoration: none!important; }
    .container{ margin-bottom: 200px; margin-top: 50px; }
</style>
<div class="card">
  <div class="card-header">
  <a href="http://www.ibericosmatas.com" target="_blank">Embutidos y Jamones Ibéricos Mirabelz</a>
  </div>
  <div class="card-body">
    <a href="http://www.ibericosmatas.com" target="_blank"><img width="400" height="400" src="http://www.ibericosmatas.com/skin/frontend/default/ibericosmatasv3/images/designer/f55906e2049ca4edad1aaa8b7959a929_logo2.png"></a>
    <p class="card-text">A los pies de la Sierra Mirabeleña, en el Norte de Extremadura  se enclava la fábrica y tienda de embutidos y jamones ibéricos Mirabel. Negocio familiar, que en su tercera generación reune el saber y la experiencia para fabricar productos ibéricos de primera calidad.</p>
    <p>Criamos, mimamos y cuidamos al cerdo ibérico en nuestra dehesa, conjuntando la tradición e innovación para lograr la calidad y el sabor inconfundible de nuestros productos cuando llegan a su mesa.</p>
    <p>Por eso agradeciéndoles la confianza depositada en nosotros desde hace casi un siglo, en la empresa Embutidos y Jamones Ibéricos Mirabel nos comprometemos a seguir trabajando en aras a la calidad y a los sabores tradicionales que caracterizan a nuestros productos.</p> 
    <div class="card-footer">
    <p>Descargar los PDFS</p>
    <ul>
    <li><a href="https://cdn.lajamonjunta.online/pdf/D.pdf" target="_blank">Lista de oferta Matas e Hijos</a></li>
    </ul>
    </div>
    <a href="#" class="btn btn-primary">Los precios son con el descuento ya aplicado.</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
<div class="box">
<img src="https://cdn.lajamonjunta.online/img/IM/A.JPG">
<div class="text-block">
    <h5>** Jamón de bellota Ibérico ( Etiqueta roja ) 38,00 €/Kg</h5>
  </div>
</div>
</div>
  <div class="col-md-4">
<div class="box">
<img src="https://cdn.lajamonjunta.online/img/IM/B.JPG">
<div class="text-block">
    <h5>** Jamón de cebo de campo Ibérico 19,95 €/Kg</h5>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="box">
<img src="https://cdn.lajamonjunta.online/img/IM/C.JPG">
<div class="text-block">
    <h5>** Paleta de bellota Ibérica 21,70 €/Kg</h5>
  </div>
</div>
</div>
<div class="col-md-4">
  <div class="box">
<img src="https://cdn.lajamonjunta.online/img/IM/D.JPG">
<div class="text-block">
    <h5>** Paleta de cebo de campo Ibérica 13,95 €/Kg</h5>
  </div>
</div>
</div>
<div class="col-md-4">
  <div class="box">
<img src="https://cdn.lajamonjunta.online/img/IM/E.JPG">
<div class="text-block">
    <h5>** Lomo de bellota Ibérico 35,50€/Kg</h5>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="box">
<img src="https://cdn.lajamonjunta.online/img/IM/E.JPG">
<div class="text-block">
    <h5>** Chorizo Ibérico extra 11,50€/Kg</h5>
  </div>
</div>
</div>
    </div>
  </div>
{% endblock %}
