{% extends 'base.html.twig' %}

{% block title %}Encinares del Sur{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .container img { display: block; max-width: 100%; height: auto; }
    #elm:hover { background-color:#007BFF!important; color: white; }
    .box {position:relative;}
    .text-block { position: static; bottom: 20px; right: 20px; background-color: black; color: white; padding-left: 20px; padding-right: 20px; }
    a { text-decoration: none!important; }
    .container{ margin-bottom: 200px; margin-top: 50px; }
    .col-md-4{ margin-top: 10px; }
    .bold{}
</style>
<div class="card">
  <div class="card-header">
  <a href="http://www.encinaresdelsur.com" target="_blank">Encinares del Sur</a>
  </div>
  <div class="card-body">
    <a href="http://www.encinaresdelsur.com" target="_blank"><img width="400" height="200" src="https://cdn.lajamonjunta.online/img/logo.JPG"></a>
    <p class="card-text m-5"><span class="font-weight-bold">Dehesas Reunidas</span> es una empresa que la forman <span class="font-weight-bold">ganaderos</span> propietarios de Dehesas en el <span class="font-weight-bold">Valle de Los Pedroches</span> donde se crían los <span class="font-weight-bold">Cerdos Ibéricos en libertad</span>. Elaboramos los productos que vendemos, <span class="font-weight-bold">no compramos a terceros</span> ni revendemos. Todo lo que ofrecemos es lo <span class="font-weight-bold">producido</span> por nuestros <span class="font-weight-bold">socios-ganaderos</span>, por lo que la <span class="font-weight-bold">calidad siempre está garantizada</span> y por eso nuestros <span class="font-weight-bold">Productos Ibéricos</span> tienen <span class="font-weight-bold">categoría Gourmet</span>.</p>
    <p class="m-5">El <span class="font-weight-bold">Ministerio de Agricultura</span> nos ha <span class="font-weight-bold">galardonado</span> con el <span class="font-weight-bold">premio al Mejor Jamón de Bellota Ibérico</span>. Para saber más <span class="font-weight-bold">pichar aquí:</span><a href="https://www.encinaresdelsur.com/premio-mejor-jamon.html"> https://www.encinaresdelsur.com/premio-mejor-jamon.html</a></p>
    <p class="m-5">Dehesas Reunidas posee <span class="font-weight-bold">2 marcas</span> comerciales: <span class="font-weight-bold">Encinares del Sur</span> que engloba a productos de Bellota 100% ibéricos (<span class="font-weight-bold">precinto negro oficial</span>) y <span class="font-weight-bold">Solera ibérica</span> para la línea de productos de Bellota 50% ibérico y Cebo de Campo Ibérico (<span class="font-weight-bold">precinto rojo y verde oficial</span>).</p>
    <a href="#" class="btn btn-primary">Los precios incluyen IVA y transporte gratuito - Estos lotes han sido diseñados exclusivamente para Forocoches.</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
  <div class="box">
<img src="https://cdn.lajamonjunta.online/img/encinares-del-sur/LOTE-FOROCOCHES-JAMON-IBERICO.JPG">
<div class="text-block">
    <h5>LOTE FOROCOCHES: JAMÓN IBÉRICO - Precio: 289 € (IVA incluido y envío gratuito)</h5>
    <ul>
      <li>Un Jamón de Cebo de Campo Ibérico de 8 a 8,5 Kg (precinto verde oficial)</li>
      <li>Una pieza de Caña de Lomo de Bellota 100% Ibérico de 600 gr aprox.</li>  
      <li>Una pieza de Salchichón de Bellota 100% Ibérico de 450 gr aprox.</li>
      <li>Una pieza de Chorizo de Bellota 100% Ibérico de 450 gr aprox.</li>
    </ul>
  </div>
</div>
</div>
    <div class="col-md-4">
<div class="box">
<img src="https://cdn.lajamonjunta.online/img/encinares-del-sur/LOTE-FOROCOCHES-PALETA-DE-BELLOTA-100-IBERICA.JPG">
<div class="text-block">
    <h5>LOTE FOROCOCHES. PALETA DE BELLOTA 100% IBÉRICA - Precio: 169 € (IVA incluido y envío gratuito)</h5>
    <ul>
      <li>Una Paleta de Bellota 100% Ibérica de 4,5 a 5 Kg  (precinto negro oficial)</li>
      <li>Una pieza de Caña de Lomo de Bellota 100% Ibérico de 600 gr aprox.</li>  
      <li>Una pieza de Salchichón de Bellota 100% Ibérico de 450 gr aprox.</li>
      <li>Una pieza de Chorizo de Bellota 100% Ibérico de 450 gr aprox.</li>
    </ul>
  </div>
</div>
</div>
  <div class="col-md-4">
<div class="box">
<img src="https://cdn.lajamonjunta.online/img/encinares-del-sur/LOTE-FOROCOCHES-PALETA-IBERICA.JPG">
<div class="text-block">
    <h5>LOTE FOROCOCHES. PALETA IBÉRICA - Precio: 135 € (IVA incluido y envío gratuito)</h5>
    <ul>
      <li>Una Paleta de Cebo de Campo Ibérica de 4,5 a 5 Kg  (precinto verde oficial)</li>
      <li>Una pieza de Caña de Lomo de Bellota 100% Ibérico de 600 gr aprox.</li>  
      <li>Una pieza de Salchichón de Bellota 100% Ibérico de 450 gr aprox.</li>
      <li>Una pieza de Chorizo de Bellota 100% Ibérico de 450 gr aprox.</li>
    </ul>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="box">
<img src="https://cdn.lajamonjunta.online/img/encinares-del-sur/LOTE-FOROCOCHES-JAMON-DE-BELLOTA-100-IBERICO-CORTADO-A-CUCHILLO.JPG">
<div class="text-block">
    <h5>LOTE FOROCOCHES. JAMÓN DE BELLOTA 100% IBÉRICO CORTADO A CUCHILLO - Precio: 159 € (IVA incluido y envío gratuito)</h5>
    <ul>
      <li>10 sobres de 80 gramos/sobre de Jamón de Bellota 100% Ibérico loncheado a cuchillo (precinto negro oficial)</li>
      <li>Una pieza de Caña de Lomo de Bellota 100% Ibérico de 600 gr aprox.</li>  
      <li>Una pieza de Salchichón de Bellota 100% Ibérico de 450 gr aprox.</li>
      <li>Una pieza de Chorizo de Bellota 100% Ibérico de 450 gr aprox.</li>
    </ul>
  </div>
</div>
</div>
<div class="col-md-4">
  <div class="box">
<img src="https://cdn.lajamonjunta.online/img/encinares-del-sur/LOTE-FOROCOCHES-PALETA-DE-BELLOTA-100-IBERICA-CORTADA-A-CUCHILLO.JPG">
<div class="text-block">
    <h5>LOTE FOROCOCHES. PALETA DE BELLOTA 100% IBÉRICA CORTADA A CUCHILLO Precio: 105 € - (IVA incluido y envío gratuito)</h5>
    <ul>
      <li>10 sobres de 80 gramos/sobre de Paleta de Bellota 100% Ibérica loncheada a cuchillo (precinto negro oficial)</li>
      <li>Una pieza de Caña de Lomo de Bellota 100% Ibérico de 600 gr aprox.</li>  
      <li>Una pieza de Salchichón de Bellota 100% Ibérico de 450 gr aprox.</li>
      <li>Una pieza de Chorizo de Bellota 100% Ibérico de 450 gr aprox.</li>
    </ul>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="card">
  <h5 class="card-header">Código promocional</h5>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Además de forma independiente a la conjunta os ofrecemos un código promocional para que podáis degustar los productos de nuestras dehesas con un 10% de descuento. Código válido para todas los productos excepto los Lotes de Navidad. Para beneficiarte de este descuento introduce el siguiente código al final del proceso de compra de la tienda ONLINE de Encinares del Sur:</p>
    <h5 class="card-footer">FOROCOCHES10</h5>
    <a href="http://www.encinaresdelsur.com" class="btn btn-primary">Este código ya está activo.</a>
  </div>
</div>
    </div>
  </div>
{% endblock %}
