{% extends 'base.html.twig' %}

{% block title %}Hernández Jiménez{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .container img { display: block; max-width: 100%; height: auto; }
    #elm:hover { background-color:#007BFF!important; color: white; }
    .box {position:relative;}
    .text-block { position: static; bottom: 20px; right: 20px; background-color: black; color: white; padding-left: 20px; padding-right: 20px; }
    a { text-decoration: none!important; }
    .container{ margin-bottom: 200px; margin-top: 50px; }
    .col-md-4{ margin-top: 10px; }
</style>
<div class="card">
  <div class="card-header">
  <a href="http://hernandezjimenez.com" target="_blank">Hernández Jiménez</a>
  </div>
  <div class="card-body">
    <a href="http://hernandezjimenez.com" target="_blank"><img width="400" height="200" src="http://hernandezjimenez.com/wp-content/uploads/2017/10/xlogo-hernandez-jimenez-jamones-guijuelo.png.pagespeed.ic.5QNIddDGCg.png"></a>
    <p class="card-text">Una empresa familiar que lleva mas de 120 años produciendo jamones y embutidos ibéricos de forma tradicional, con todo el cuidado y cariño, con la calidad mas alta, para conseguir un producto exquisito y adecuado a los paladares mas altos.</p>
    <p>Precios finales. IVA y transporte incluido</p>
    <p> Como los lotes son muy personales, que cada cual junte lo que quiera en el suyo.
    <p>Si alguien quiere medio chorizo o medio lomo, pues la mitad del precio</p>
    <p>Todos los embutidos van envasados al vacio y tienen un año de caducidad</p>
    <div class="card-footer">
    <p>Descargar los PDFS</p>
    <ul>
    <li><a href="https://cdn.lajamonjunta.online/pdf/M.pdf" target="_blank">Oferta Forocoches</a></li>
    </ul>
    </div>
    <a href="#" class="btn btn-primary">Los precios incluyen IVA y transporte. Falta confirmar etiquetado</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
<div class="box">
<img src="http://hernandezjimenez.com/wp-content/uploads/2013/11/xslide-productos-1.jpg.pagespeed.ic.L0HChqaCgI.jpg">
<div class="text-block">
    <h5>Jamón Ibérico de bellota peso 8 Kg aprox 330€</h5>
  </div>
</div>
</div>
  <div class="col-md-4">
<div class="box">
<img src="http://hernandezjimenez.com/wp-content/uploads/2013/11/xslide-productos-3.jpg.pagespeed.ic.LvS9uPJWlN.jpg">
<div class="text-block">
    <h5>Jamón Ibérico de cebo peso 8 Kg aprox 160€</h5>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="box">
<img src="http://hernandezjimenez.com/wp-content/uploads/2013/11/xslide-productos-1.jpg.pagespeed.ic.L0HChqaCgI.jpg">
<div class="text-block">
    <h5>Paleta Ibérica de bellota peso 5,5 aprox 127€</h5>
  </div>
</div>
</div>
<div class="col-md-4">
  <div class="box">
<img src="http://hernandezjimenez.com/wp-content/uploads/2013/11/xslide-productos-2.jpg.pagespeed.ic.AX4eyTxOH8.jpg">
<div class="text-block">
    <h5>Paleta Ibérica de bellota peso 4,5 aprox 60€</h5>
  </div>
</div>
</div>
<div class="col-md-4">
  <div class="box">
<img src="http://hernandezjimenez.com/wp-content/uploads/2013/11/xslide-productos-4.jpg.pagespeed.ic.LDcXaeJiUa.jpg">
<div class="text-block">
    <h5>Lomo Ibérico de bellota peso 1,2 aprox 30€</h5>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="box">
<img src="http://hernandezjimenez.com/wp-content/uploads/2013/11/xslide-productos-6.jpg.pagespeed.ic.GWyL5XLe5w.jpg">
<div class="text-block">
    <h5>Chorizo Ibérico de bellota peso 1,2 aprox 9€</h5>
  </div>
</div>
</div>
    </div>
  </div>
{% endblock %}
