{% extends 'base.html.twig' %}

{% block title %}Embutidos y Jamones Ibéricos Mirabel{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .container img { display: block; max-width: 100%; height: auto; }
    #elm:hover { background-color:#007BFF!important; color: white; }
    .box {position:relative;}
    .text-block { position: absolute; bottom: 20px; right: 20px; background-color: black; color: white; padding-left: 20px; padding-right: 20px; }
    a { text-decoration: none!important; }
    .container{ margin-bottom: 200px; margin-top: 50px; }
    .col-md-4{ margin-top: 10px; }
</style>
<div class="card">
  <div class="card-header">
  <a href="https://www.ibericosguillen.com/" target="_blank">Ibéricos Guillén</a>
  </div>
  <div class="card-body">
    <a href="https://www.ibericosguillen.com/" target="_blank"><img width="400" height="200" src="https://a.mktgcdn.com/p/YkxHo14uh1aIueJYW1WgQBer0BziXOHkDQOx85C_iqk/1.0000/349x349.png"></a>
    <p class="card-text">MANUEL GUILLÉN S.A. es una empresa familiar ubicada en Guijuelo (Salamanca). Después de más de 40 años seguimos manteniendo la tradición en la elaboración de productos ibéricos.</p>
    <p>Nos diferenciamos por el control sobre todos los aspectos de la producción: desde la genética y cría de los animales en nuestras dehesas hasta la elaboración y distribución de nuestros productos.</p>
    <p>Contamos con una ubicación idónea para el secado y curado de nuestros productos ibéricos, que junto con el buen hacer de nuestro equipo humano hacen que sean un referente para todos nuestros consumidores.</p> 
    <div class="card-footer">
    <p>Buenos días Víctor,</p>
    <p>Hemos estudiado su propuesta y al tratarse de envíos a los distintos particulares el importe total del transporte sería elevado. En caso de que podáis hacer grupaje para el envío si que podríamos aplicaros una tarifa de descuento para todos los interesados. De ser así, indícamelo.</p>
    <p>De todas formas te incluyo nuestra tarifa  por si os encaja algún precio,</p>
    <p>Un saludo</p>
    </div>
    <p>Descargar los PDFS</p>
    <ul>
    <li><a href="https://cdn.lajamonjunta.online/pdf/G.pdf" target="_blank">Productos curados Guillén</a></li>
    <li><a href="https://cdn.lajamonjunta.online/pdf/J.pdf" target="_blank">Tarifas Embutidos Guillén</a></li>
    </ul>
    </div>
  </div>
  <a href="#" class="btn btn-primary">No hay oferta alguna. Simplemente precios :(</a>
  <div class="container">
  <div class="row">
    <div class="col-md-4">
<div class="box">
<img src="https://i0.wp.com/www.ibericosguillen.com/wp-content/uploads/2016/03/Ibericos-Guillen-Guijuelo-Jamon-Iberico-Bellota-Iberian-Acorn-Fed-Ham-Bellota-4.jpg?fit=1030%2C773&ssl=1">
<div class="text-block">
    <h5>** Jamón Ibérico Bellota Guillén</h5>
  </div>
</div>
</div>
  <div class="col-md-4">
<div class="box">
<img src="https://i1.wp.com/www.ibericosguillen.com/wp-content/uploads/2016/03/Ibericos-Guillen-Guijuelo-Jamon-Iberico-Cebo-Campo-Iberian-Freen-Range-Natural-Feed-Ham-2.jpg?fit=1030%2C773&ssl=1">
<div class="text-block">
    <h5>** Jamón Ibérico Cebo Campo Guillén</h5>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="box">
<img src="https://i2.wp.com/www.ibericosguillen.com/wp-content/uploads/2016/03/Ibericos-Guillen-Guijuelo-Jamon-Iberico-Cebo-Iberian-Natural-Feed-Ham-5.jpg?fit=1030%2C773&ssl=1">
<div class="text-block">
    <h5>** Jamón Ibérico Cebo Guillén</h5>
  </div>
</div>
</div>
<div class="col-md-4">
  <div class="box">
<img src="https://i0.wp.com/www.ibericosguillen.com/wp-content/uploads/2016/03/Ibericos-Guillen-Guijuelo-Jamon-Gran-Reserva-1.jpg?fit=1030%2C773&ssl=1">
<div class="text-block">
    <h5>** Jamón Gran Reserva Guillén</h5>
  </div>
</div>
</div>
<div class="col-md-4">
  <div class="box">
<img src="https://i1.wp.com/www.ibericosguillen.com/wp-content/uploads/2018/09/Lomito-Ib%C3%A9rico-Bellota.png?fit=1030%2C800&ssl=1">
<div class="text-block">
    <h5>** Lomo Ibérico de Bellota</h5>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="box">
<img src="https://i2.wp.com/www.ibericosguillen.com/wp-content/uploads/2018/09/Chorizo-Ib-Bta-producto.png?fit=1030%2C784&ssl=1">
<div class="text-block">
    <h5>** Chorizo Ibérico de Bellota</h5>
  </div>
</div>
</div>
    </div>
  </div>
{% endblock %}
