{% extends 'base.html.twig' %}

{% block title %}Jamones Tartessos{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .container img { display: block; max-width: 100%; height: auto; }
    #elm:hover { background-color:#007BFF!important; color: white; }
    .box {position:relative;}
    .text-block { position: static; bottom: 20px; right: 20px; background-color: black; color: white; padding-left: 20px; padding-right: 20px; }
    a { text-decoration: none!important; }
    .container{ margin-bottom: 200px; margin-top: 50px; }
    .col-md-4{ margin-top: 10px; }
</style>
<div class="card">
  <div class="card-header">
  <a href="http://www.jamonestartessos.com" target="_blank">Jamones Tartessos</a>
  </div>
  <div class="card-body">
    <a href="http://www.jamonestartessos.com" target="_blank"><img width="400" height="200" src="http://www.jamonestartessos.com/wp-content/uploads/2016/10/LOGOTIPO-JAMONES-TARTESSOS-WEB2016.png"></a>
    <p class="card-text">La familia Castaño cuenta con unas modernas instalaciones que aseguran el correcto tratamiento de las piezas que llegan de la naturaleza a nuestra fábrica, consiguiendo la trazabilidad de nuestros productos en todas sus fases. Extensión 8258 m2 que son utilizados para la curación de nuestros jamones y paletas. </p>
    <p>Siguiendo las costumbres de elaboración artesanal, heredada por nuestros antepasados, en Tartessos, cuidamos la elaboración de nuestros embutidos con el mejor buen hacer. Extensión 2508 m2 dedicado única y exclusivamente a la curación de nuestros embutidos.</p>
    <div class="card-footer">
    <p>Descargar los PDFS</p>
    <ul>
    <li><a href="https://cdn.lajamonjunta.online/pdf/I.pdf" target="_blank">Catálogo Navidad</a></li>
    </ul>
    </div>
    <a href="#" class="btn btn-primary">Los precios son negociables en función del volumen del pedido( No nos han definido un precio)</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
<div class="box">
<img src="http://www.horecajamonestartessos.com/60-large_default/jamon-de-bellota-100-iberico.jpg">
<div class="text-block">
    <h5>** Jamon de bellota Ibérico Tartessos con D.O Jabugo Huelga 2016 Funda Negra 46€/Kg</h5>
  </div>
</div>
</div>
  <div class="col-md-4">
<div class="box">
<img src="http://www.horecajamonestartessos.com/60-large_default/jamon-de-bellota-100-iberico.jpg">
<div class="text-block">
    <h5>** Jamon de bellota Ibérico Tartessos 100% Ibérico 7 a 8,5 Kg Funda Negra 44€/Kg</h5>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="box">
<img src="http://www.horecajamonestartessos.com/58-large_default/jamon-iberico-bellota.jpg">
<div class="text-block">
    <h5>** Jamon de bellota Ibérico Tartessos 75/50% Ibérico 7 a 8,5 Kg Funda Roja 42#/Kg</h5>
  </div>
</div>
</div>
<div class="col-md-4">
  <div class="box">
<img src="http://www.horecajamonestartessos.com/61-large_default/jamon-iberico-cebo.jpg">
<div class="text-block">
    <h5>** Jamón Tartessos selección 6/8,5 Kg Funda verde 30€/Kg</h5>
  </div>
</div>
</div>
<div class="col-md-4">
  <div class="box">
<img src="http://www.horecajamonestartessos.com/61-large_default/jamon-iberico-cebo.jpg">
<div class="text-block">
    <h5>** Jamón de cebo de 7/8,5 Kg 2017 Funda Blanca 20€/Kg</h5>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="box">
<img src="http://www.horecajamonestartessos.com/60-large_default/jamon-de-bellota-100-iberico.jpg">
<div class="text-block">
    <h5>** Paletilla de bellota Ibérica Tartessos con D.O Jabugo Huelva 2016/17 funda negra 26,90€/Kg</h5>
  </div>
</div>
</div>
    </div>
  </div>
{% endblock %}
