{% extends 'base.html.twig' %}
{% block title %}Pedidos{% endblock %}
{% block body %}
<style>
    .card{
      width: 100%!important;  
    }
</style>
<div class="container-fluid">
<br>
<br>
  <h1>Encinares del Sur</h1>
  <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://cdn.lajamonjunta.online/img/logo.JPG" style="max-width:80%;" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"></h5>
      </div>
        <div class="card-header">
        <h5 class="card-title">Cómo realizar el pedido:</h5>
        <p>Clica en el enlace para comprar el lote, no hace falta registrarse en la web para realizar el pedido.</p>
    <li class="list-group-item">LOTE FOROCOCHES: JAMÓN IBÉRICO <a href="https://www.encinaresdelsur.com/lote-forocoches-jamon-iberico.html" class="card-link">https://www.encinaresdelsur.com/lote-forocoches-jamon-iberico.html</a></li>
    <li class="list-group-item">LOTE FOROCOCHES. PALETA DE BELLOTA 100% IBÉRICA <a href="https://www.encinaresdelsur.com/lote-forocoches-paleta-bellota.html" class="card-link">https://www.encinaresdelsur.com/lote-forocoches-paleta-bellota.html</a></li>
    <li class="list-group-item">LOTE FOROCOCHES. PALETA IBÉRICA <a href="https://www.encinaresdelsur.com/lote-forocoches-paleta-iberica.html" class="card-link">https://www.encinaresdelsur.com/lote-forocoches-paleta-iberica.html</a></li>
    <li class="list-group-item">LOTE FOROCOCHES. JAMÓN DE BELLOTA 100% IBÉRICO CORTADO A CUCHILLO <a href="https://www.encinaresdelsur.com/lote-forocoches-jamon-bellota-cortado-cuchillo.html" class="card-link">https://www.encinaresdelsur.com/lote-forocoches-jamon-bellota-cortado-cuchillo.html</a></li>
    <li class="list-group-item">LOTE FOROCOCHES. PALETA DE BELLOTA 100% IBÉRICA CORTADA A CUCHILLO <a href="https://www.encinaresdelsur.com/lote-forocoches-paleta-bellota-cortada-cuchillo.html" class="card-link">https://www.encinaresdelsur.com/lote-forocoches-paleta-bellota-cortada-cuchillo.html</a></li>
    <li class="list-group-item">Para productos sueltos, código descuento del 10% introduciendo FOROCOCHES10 al final de la compra en la tienda ONLINE de Encinares del Sur <a href="https://www.encinaresdelsur.com">(https://www.encinaresdelsur.com).</a> Ver<a href="https://cdn.lajamonjunta.online/aplicar_cupon.jpg"> imagen</a> de ayuda. Código válido para todos los productos excepto los Lotes de Navidad y los Lotes Forocoches.<a href="https://www.encinaresdelsur.com/" class="card-link"> Código: FOROCOCHES10</a></li>
  </ul>
      </div>
      <div class="card-body">
        <h5 class="card-title">Servicios Opcionales</h5>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">En “LOTE FOROCOCHES. JAMÓN IBÉRICO”:<br>
         - Deshuesado al vacío (se envía sin hueso) +9,90 €<br>
         - Loncheado a máquina en sobres de 100gr y huesos troceados al vacío +29,90 €<br>
         - Loncheado a cuchillo en sobres redondos de 100gr y huesos troceados al vacío +53,90 €</li>
        <li class="list-group-item"> En “LOTE FOROCOCHES. PALETA DE BELLOTA 100% IBÉRICA” y en “LOTE FOROCOCHES. PALETA IBÉRICA”:<br>
        - Deshuesado al vacío (se envía sin hueso) +9,90 €<br>
        - Loncheado a máquina en sobres de 100gr y huesos troceados al vacío +24,90 €<br>
        - Loncheado a cuchillo en sobres redondos de 100gr y huesos troceados al vacío +37,70 €<br>
        </ul>
      </div>
      <div class="card-footer">
        <h5 class="card-title">Información extra</h5>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Métodos de pago: Transferencia bancaria y Pago con tarjeta</li>
        <li class="list-group-item">Mail: <a href="mailto:info@encinaresdelsur.com">info@encinaresdelsur.com</a></li>
        <li class="list-group-item">Tiempo de entrega de 48 a 96 horas (para península) de lunes a viernes no festivos. En caso de loncheados se podría demorar más.</li>
        <li class="list-group-item">Se garantiza la entrega para antes de Nochebuena para todos los pedidos hechos antes del 16 de Diciembre (con envío a península).</li>
        <li class="list-group-item">Vigencia de los Lotes especiales para Forocoches y Cupón de descuento hasta el 6 de Enero del 2019.</li>    
        </ul>
      </div>
       <div class="card-body">
        <h5 class="card-title">Devoluciones</h5>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Encinares del Sur confía plenamente en la calidad de todos sus productos. No obstante, si a Usted o a la persona a la que haya hecho un regalo no le satisface nuestro producto, le mandaremos de nuevo otra pieza o le devolvemos el dinero.</li>
        <li class="list-group-item">En caso de devolución, la pieza tendrá que conservar los precintos y bridas que la acompañan y su embalaje original. No se tratará como incidencia las deficiencias que hayan sido ocasionadas por negligencias, golpes, o manipulaciones indebidas.</li>
        <li class="list-group-item">La notificación de la incidencia deberá realizarse en un plazo no superior a 14 días desde la entrega.</li>
        </ul>
      </div>
  </div>
<br>
<br>
<h1>Chorizo &amp; Jamón</h1>
  <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://static1.chorizoyjamon.com/img/chorizoyjamoncom-logo-1477157034.jpg" style="max-width:80%;" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"></h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Revisar proveedor para ver <a href="https://lajamonjunta.online/proveedores/public/chorizo-jamon">catálogo</a></li>
      </ul>
        <div class="card-header">
        <h5 class="card-title">Cómo realizar el pedido:</h5>
        <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="https://t.me/ChorizoyJamon">Telegram</a></li>
        <li class="list-group-item">Mail: <a href="mailto:info@chorizoyjamon.com">info@chorizoyjamon.com</a></li>
        <li class="list-group-item"><a href="https://www.forocoches.com/foro/showthread.php?t=5653131">Hilo en forocoches y MP</a></li>
        </ul>
      </div>
      <div class="card-body">
        <h5 class="card-title">Servicios Opcionales</h5>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Gastos de envío 8.90€ a la Península (En los lotes es gratis). Fuera consultar precio.</li>
        <li class="list-group-item">Deshuesado y envasado al vacío 20€</li>
        <li class="list-group-item">Loncheado a máquina en sobres de 100gr y huesos al vacío 25€</li>
        </ul>
      </div>
      <div class="card-footer">
        <h5 class="card-title">Método de pago</h5>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Paypal ( Envío como amigos.)</li>
        <li class="list-group-item">Transferencia bancaria</li>
        </ul>
      </div>
      <div class="card-body">
        <h5 class="card-title">Devoluciones y información extra</h5>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Garantizamos la calidad de nuestros productos. </li>
        <li class="list-group-item">Todos nuestros jamones y paletas salen calados por un experto que determinará si el producto posee las características óptimas para su consumo. Aún así si hubiera algún producto defectuoso, cambiamos la pieza sin cargo alguno.</li>
        <li class="list-group-item">Para pedidos anteriores al día 16 se garantiza la entrega antes del día de Noche Buena.</li>
        <li class="list-group-item">Nuestro trato es totalmente personalizado, te asesoramos rápidamente con cualquier duda que tengas y nos adaptamos a tus necesidades.</li>
        </ul>
      </div>
  </div>
</div>
<br>
<br>
<br>
<br>
{% endblock %}
