<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="position: fixed;bottom: 0;width: 100%;">© 2019 LaJamonJunta
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->