<form method="post" action="{{ path('pcomment_delete', {'id': pcomment.id}) }}" onsubmit="return confirm('{% trans %}Are you sure you want to delete this item?{% endtrans %}');">
    <div class="float-left">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pcomment.id) }}">
    <button class="btn btn-outline-danger">{% trans %}Borrar{% endtrans %}</button>
    </div>
</form>

