{% extends 'base.html.twig' %} {% block title %}La Jamonjunta | Etiquetado{% endblock %} {% block body %}
<br>
<p class="text-center"><img class="img-fluid" src="https://www.jamonlovers.es/wp-content/uploads/2013/09/dehesa-cerdo-iberico.jpg" alt="dehesa, cerdo ibérico" width="3872" height="2592">El <strong>cerdo ibérico</strong> tiene un paraje en que es mimado, en el que crece, en
    el que se alimenta… Ese paraje es la <strong>dehesa</strong>, todo un paraíso ecológico que se tiene como uno de los hábitat mejor conservados de toda Europa.</p>
<h4>La dehesa</h4>
<p>Etimológicamente, el vocablo <strong><i>dehesa</i></strong> tiene la misma raíz que defensa (del latín defessa) y curiosamente, el cerdo ibérico se ha convertido en el mejor defensor de un ecosistema tradicional que, de otra forma, se habría convertido,
    irremisiblemente, en terreno&nbsp; de explotación agrícola…cuando no en erial abandonado.</p>
<p>Obra de la mano del hombre, cuyo interés histórico por <strong>aprovechar sus recursos</strong> ha dado al paisaje adehesado el aspecto que hoy muestra, la dehesa es un sistema agroforestal que se extiende por el oeste de la Península Ibérica. Ello se
    ha conseguido después de siglos de laboreo y conservación realizadas, directamente, sobre los árboles, tales como el desmoche o el olivado.</p>
<p>La <strong>dehesa</strong> es un bosque en el que conviven la <strong>encina, el roble, el alcornoque, el quejigo</strong> y algunas otras especies arbóreas como el fresno. Bajo este espectro de árboles de la misma familia (cuyo fruto es la <strong>bellota</strong>,
    distinta en cada especie), crece una hierba gramínea y leguminosa. Este es el coctel alimenticio que el <strong><a href="https://www.jamonlovers.es/jamon/raza-iberica/" target="_blank" rel="noopener">cerdo ibérico</a></strong> pasta con placer, y
    glotonería, mientras camina por el espacio adehesado. A su vez, el cerdo, animal carnívoro e insectivo, <strong>controla las plagas</strong> que pudieran afectar a la dehesa.</p>
<p class="text-center"><a href="https://www.jamonlovers.es//wp-content/uploads/2013/09/dehesa-montanera-cerdo-iberico-jamonlovers.jpg" rel="prettyPhoto"><img class="img-fluid" src="https://www.jamonlovers.es//wp-content/uploads/2013/09/dehesa-montanera-cerdo-iberico-jamonlovers.jpg" alt="En la Dehesa durante la montanera el cerdo ibérico campea a sus anchas" srcset="https://www.jamonlovers.es/wp-content/uploads/2013/09/dehesa-montanera-cerdo-iberico-jamonlovers.jpg 930w, https://www.jamonlovers.es/wp-content/uploads/2013/09/dehesa-montanera-cerdo-iberico-jamonlovers-300x166.jpg 300w, https://www.jamonlovers.es/wp-content/uploads/2013/09/dehesa-montanera-cerdo-iberico-jamonlovers-768x425.jpg 768w"
            sizes="(max-width: 450px) 100vw, 450px" width="450" height="249"></a></p>
<p>
    Paciendo por la<strong> dehesa</strong>, durante la <a href="https://www.jamonlovers.es/jamon/la-montanera/" target="_blank" rel="noopener">montanera</a>, el cerdo busca la <strong>bellota</strong>…su
    más preciada golosina. La encuentra con facilidad al pie de los árboles…principalmente de la <strong>encina</strong>, especie arborea que puede llegar a dar unos <strong>20 o 25 kilos</strong>. Teniendo en cuenta que una hectárea puede llegar a acoger
    unas 50 encinas, es fácil comprender el porqué el cerdo encuentra aquí su hábitat natural preferido. Y es que un animal puede llegar a consumir de <strong>6 a 10 kilos de bellotas</strong> por día, a lo que hay que sumar unos <strong>3 kilos aproximados</strong>    de hierba diarios. Lo que viene a ser un total de <strong>unos 800 kilos de bellotas</strong>&nbsp;y&nbsp;entre <strong>300 o 400 kilos de hierba</strong> por animal y montanera.</p>
<p>El <strong>quejigo</strong>, es el primero en dar su fruto, luego la <strong>encina</strong> que, proporciona el más dulce y sabroso, y por último, el <strong>alcornoque</strong>, que de sabor es más amargo pero es el más resistente y duradero.</p>
<p>A tanto placer porcino hay que añadir que, en época de lluvias, las charcas, las riberas de arroyos y las partes bajas de pequeños barrancos tornan en lodazales sobre los que el cerdo se recrea plácidamente.</p>
<p class="text-center"><a href="https://www.jamonlovers.es//wp-content/uploads/2013/09/montanera-dehesa-cerdo-iberico-jamonlovers.jpg" rel="prettyPhoto"><img class="img-fluid" src="https://www.jamonlovers.es//wp-content/uploads/2013/09/montanera-dehesa-cerdo-iberico-jamonlovers.jpg" alt="Dehesa andaluza, cerdo ibérico" srcset="https://www.jamonlovers.es/wp-content/uploads/2013/09/montanera-dehesa-cerdo-iberico-jamonlovers.jpg 936w, https://www.jamonlovers.es/wp-content/uploads/2013/09/montanera-dehesa-cerdo-iberico-jamonlovers-300x178.jpg 300w, https://www.jamonlovers.es/wp-content/uploads/2013/09/montanera-dehesa-cerdo-iberico-jamonlovers-768x456.jpg 768w"
            sizes="(max-width: 474px) 100vw, 474px" width="474" height="281"></a></p>
<p>
    ¿Y que atrae tanto de la bellota al cerdo? Para empezar, un <strong>sabor agridulce</strong> que le aporta un alto contenido de azúcares. El animal se siente atraído por este
    fruto y esta atracción hará que el animal alcance su <strong>engorde final y la grasa suficiente</strong> para alcanzar el nivel de <strong>infiltración intramuscular</strong> que da al <a title="Cerdo ibérico" href="https://www.jamonlovers.es/jamon/raza-iberica/alimentacion-cerdo-iberico/"
        target="_blank" rel="noopener">cerdo ibérico</a> el sabor peculiar propio sus productos.</p>
<p>En España, la superficie de <strong>dehesa,</strong>&nbsp;está distribuida de la siguiente manera:</p>
<p><strong>Extremadura</strong>: 1.237.000 hectáreas.</p>
<p><strong>Andalucía</strong>: 946.482 hectáreas.</p>
<p><strong>Castilla La Mancha</strong>: 751.554 hectáreas.</p>
<p><strong>Castilla y León</strong>: 467.759 hectáreas.</p>
<p><strong>Madrid</strong>: 113.051 hectáreas.</p>
<p>Lo cierto es que pasear por una <strong>dehesa</strong> es una experiencia&nbsp;única e irrepetible, si nunca has disfrutado de&nbsp;esta sensación,&nbsp;es algo que merece la pena.</p>
<br>
<a href="https://www.jamonlovers.es/la-dehesa-paraje-de-cria-del-cerdo-iberico/" target="_blank">
    <h3 class="text-center">Fuente: Artículo propiedad de JamonLovers.es</h3>
</a>
<br> {% endblock %}