{% extends 'base.html.twig' %} {% block title %}La Jamonjunta | Etiquetado{% endblock %} {% block body %}
<br>
<p>En muchas ocasiones cuando hablamos sobre el jamón y su origen, no tenemos muy claro ni cuántas <strong>denominaciones</strong> hay, ni donde están ubicadas, ni si son de <strong>jamón ibérico o jamón blanco</strong>, o si son <strong>Indicaciones Geográficas</strong> en vez de Denominaciones.</p>
<p>Hoy os dejamos esta <strong>infografía</strong> con un&nbsp;<strong>mapa de España</strong>&nbsp;con cada una de ellas marcadas para que os sea sencillo reconocerlas.</p>
<p class="text-center"><a href="https://www.jamonlovers.es/wp-content/uploads/2016/05/denominaciones-origen-indicaciones-geograficas-jamon-iberico-jamon-blanco-jamonlovers.png" rel="prettyPhoto"><img class="img-fluid" src="https://www.jamonlovers.es/wp-content/uploads/2016/05/denominaciones-origen-indicaciones-geograficas-jamon-iberico-jamon-blanco-jamonlovers.png" alt="Denominaciones de origen protegidas jamón e indicaciones geográficas protegidas" width="1300" height="1047"></a></p>
<p>Antes de entrar a ver cada una de ellas, creo que sería interesante explicar qué <strong>diferencia</strong> existe entre una <strong>Denominación de Origen Protegida</strong> (D.O.P) y una <strong>Indicación Geográfica Protegida</strong> (I.G.P).</p>
<p>Según el <strong>Reglamento (CE) 1151/2012</strong> del Parlamento Europeo y del Consejo, de 21 de noviembre de 2012, sobre los regímenes de calidad de los productos agrícolas y alimenticios definen:</p>
<p class="text-center"><strong><img class="img-fluid" src="https://www.jamonlovers.es/wp-content/uploads/2016/05/sellos-denominacion-origen-protegida-indicacion-geografica-protegida.png" alt="Sello Denominación de Origen Protegida y Sello Indicación Geográfica Protegida" width="358" height="600">
<p>Una DOP como:</strong></p>
<p>Un nombre que identifica un producto: Originario de un <strong>lugar determinado</strong>, una región o, excepcionalmente, un país, cuya <strong>calidad o características</strong> se deben fundamental o exclusivamente a un <strong>medio geográfico particular</strong>, con los factores naturales y humanos inherentes a él, y cuyas <strong>fases de producción tengan lugar en su totalidad</strong> en la zona geográfica definida.</p>
<p><strong>Y una IGP como:</strong></p>
<p>Un nombre que identifica un producto: Originario de un <strong>lugar determinado</strong>, una región o un país, que posea una <strong>cualidad determinada</strong>, una reputación u otra característica que pueda esencialmente atribuirse a su origen geográfico, y&nbsp;de cuyas fases de &nbsp;producción, <strong>al menos una tenga</strong> lugar en la zona geográfica definida.</p>
<p>La diferencia entre ambas reside principalmente en que en un producto amparado por <strong>IGP</strong>, <strong>no</strong> es <strong>obligatorio que todas las fases</strong> que intervienen en su producción, se hayan realizado en la misma zona geográfica. Exige que <strong>al menos una</strong>. En una <strong>DOP la producción, la transformación y la elaboración</strong> se tiene que realizar en la misma.</p>
<p>Una vez aclarado esto, vamos a ver qué <strong>Denominaciones de Origen Protegidas hay de <a href="https://www.jamonlovers.es">Jamón Ibérico</a></strong>; actualmente existen <strong>4</strong> en España:</p>
<p class="text-center"><a href="https://www.jamonlovers.es/wp-content/uploads/2016/05/denominaciones-de-origen-protegidas-jamon-iberico.png" rel="prettyPhoto"><img class="img-fluid" src="https://www.jamonlovers.es/wp-content/uploads/2016/05/denominaciones-de-origen-protegidas-jamon-iberico.png" alt="Denominaciones de Origen Protegidas Jamón Ibérico " width="800" height="400"></a></p>
<ul>
<li><strong><a href="http://origenguijuelo.com" target="_blank" rel="noopener">Denominación de Origen Protegida Guijuelo</a></strong> (Salamanca).</li>
<li><strong><a href="http://www.dehesa-extremadura.com/index.php/es/" target="_blank" rel="noopener">Denominación de Origen Protegida Dehesa de Extremadura</a></strong> (Extremadura).</li>
<li><strong><a href="http://www.jamondehuelva.es/es/" target="_blank" rel="noopener">Denominación de Origen Protegida Jabugo</a></strong> (Huelva). Esta denominación hasta el 01-08-2015 se llamaba Denominación de Origen Protegida Jamón Huelva.</li>
<li><strong><a href="http://www.jamondolospedroches.es" target="_blank" rel="noopener">Denominación de Origen Protegida Los Pedroches</a></strong> (Córdoba).</li>
</ul>
<p>En cuanto a <strong><a href="https://www.jamonlovers.es/jamon/clasificacion-jamones-blancos-diferencias-entre-jamon-serrano-jamon-curado-jamon-reserva-y-gran-reserva/">Jamón Blanco</a></strong>, solo existe <strong>una</strong>&nbsp;Denominación de Origen Protegida:</p>
<p class="text-center"><a href="https://www.jamonlovers.es/wp-content/uploads/2016/05/denominacion-de-origen-protegida-jamon-blanco.png" rel="prettyPhoto"><img class="img-fluid" src="https://www.jamonlovers.es/wp-content/uploads/2016/05/denominacion-de-origen-protegida-jamon-blanco.png" alt="Denominación Origen Protegida Jamón Blanco. DOP Teruel" width="582" height="400"></a></p>
<ul>
<li><strong><a href="http://www.jamondeteruel.com" target="_blank" rel="noopener">Denominación de Origen Protegida Jamón de Teruel</a></strong> (Teruel).</li>
</ul>
<p>Si seguimos con el jamón de capa blanca, nos encontramos con <b>dos</b>&nbsp;Indicaciones Geográficas Protegidas:</p>
<p class="text-center"><a href="https://www.jamonlovers.es/wp-content/uploads/2016/05/indicaciones-geograficas-protegidas-jamon-blanco.png" rel="prettyPhoto"><img class="img-fluid" src="https://www.jamonlovers.es/wp-content/uploads/2016/05/indicaciones-geograficas-protegidas-jamon-blanco.png" alt="Indicación Geográfica Protegida Jamón: Trevelez y Serón" width="686" height="400"></a></p>
<ul>
<li><strong><a href="http://www.jamondetrevelez.es" target="_blank" rel="noopener">Indicación Geográfica Protegida Jamón de Trévelez</a></strong> (Granada).</li>
<li><strong><a href="http://www.igpseron.es" target="_blank" rel="noopener">Indicación Geográfica Protegida Jamón de Serón</a></strong> (Almería).</li>
</ul>
<p>Actualmente, el Jamón Serrano, es una <strong>ETG (Especialidad Tradicional Garantizada)</strong>, las ETG son una de las&nbsp;<strong>figuras de calidad</strong>&nbsp;con las que cuenta la&nbsp;<strong>Unión Europea</strong>&nbsp;para ayudar a proteger, tipificar y mejorar la imagen de productos tradicionales producidos en los países comunitarios, como el&nbsp;<strong>Jamón Serrano. </strong>La <strong>ETG</strong>&nbsp;protege el&nbsp;<strong><strong>método tradicional de elaboración</strong>, no el origen </strong>como hacen las<strong>&nbsp;<strong>IGP </strong></strong>y las<strong><strong> DOP. </strong></strong>Actualmente se ha&nbsp;comunicado que se va a proceder a&nbsp;solicitar a Bruselas la<strong><strong> <a href="https://www.jamonlovers.es/jamon/jamon-serrano-ahora-etg-solicita-ser-una-igp/">IGP para el Jamón Serrano</a>.&nbsp;</strong></strong></p>
<p>Esperamos que esta información os resulte interesante y os ayude a identificar aquellos jamones amparados por una Denominación de Origen Protegida o por una Indicación Geográfica Protegida. Ambas son certificaciones que provienen de organismos públicos y que están reconocidas&nbsp;por la Unión Europea.</p>
<br>
<a href="https://www.jamonlovers.es/las-denominaciones-de-origen-e-indicaciones-geograficas-del-jamon/" target="_blank">
    <h3 class="text-center">Fuente: Artículo propiedad de JamonLovers.es</h3>
</a>
<br> {% endblock %}