{% extends 'base.html.twig' %}

{% block title %}La Jamonjunta | FAQ{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb navigation">
    <li class="breadcrumb-item"><a href="{{ path('indice') }}">Índice</a></li>
    <li class="breadcrumb-item"><a href="">Información</a></li>
    <li class="breadcrumb-item"><a href="{{ path('participar') }}">Participar</a></li>
  </ol>
</nav>
<h5 class="font-weight-bold">¿Cómo puedo participar?</h5>
<p>El acceso a la plataforma es libre y gratuito, no solamente usuarios de forocoches pueden participar, aunque la promoción de la plataforma se realiza a través del foro, por lo que es normal que gran parte de los usuarios, sean pertenecientes al mismo.</p>
<p>Una vez te has leído y aceptado las condiciones de uso y la política de privacidad, puedes proceder a registrarte. Cuando actives tu cuenta tendrás total acceso a la plataforma, de forma automática y gratuita.</p>
<h5 class="font-weight-bold">¿Qué obligaciones y derechos tengo como usuario de la plataforma?</h5>
<p>Como participante de la plataforma tienes derecho a poder participar / dejar de participar siempre que quieras y por el motivo que sea, siempre y cuando esté dentro el período de participación. Del mismo modo también a opinar libremente de un proveedor, recomendar y proponer. Así como a ejercer tu derecho a voto llegado el momento.</p>
<p>No guardas ningún deber con esta conjunta, aunque como mínimo se espera un punto de seriedad, debes de pensar que para organizar todo esto hay muchos implicados y precisamente en plena campaña navideña, para los propios proveedores es un faenón "extra" que no todos están dispuestos a asumir.</p>
<p>De modo que, si te apuntas a la conjunta, se espera que compres el producto, en caso contrario estarías perjudicando al resto de compañeros que si quieren comprar el producto y esto podría repercutir en el precio final del mismo o incluso la cancelación de la oferta por parte del proveedor.</p>
<h5 class="font-weight-bold">¿Qué puedo hacer para ayudar a la plataforma?</h5>
<p>Si conoces algún establecimiento y crees que podrían estar interesados, no dudes en contactar con ellos en nombre de todos nosotros. Cuántas más propuestas tengamos, probablemente más bajo será el precio y de mayor calidad, como es evidente la competencia es buena para el consumidor.</p>
<p>A través de la sección habilitada podrás publicar la propuesta facilitada por el proveedor para que el resto de shurs puedan verla y decidir sobre ella.
<h5 class="font-weight-bold">¿Qué sucede cuando presento un proveedor?</h5>
<p>Cuando presentas un proveedor, este es almacenado en un estado de "espera" hasta que un administrador supervise su candidatura y de el visto bueno, esto es así para evitar que se suban candidaturas falsas, erróneas o sin información, por lo que te recomendamos atentamente que leas las siguientes directrices.</p>
<p>Antes de subir un proveedor, asegúrate de lo siguiente:</p>
<ul>
  <li>Rellenas todos los campos con información confiable, veraz, clara y concisa.</li>
  <li>Asegúrate de rellenas las ofertas facilitadas por el proveedor, también podrás subir ficheros en formato PDF.</li>
  <li>Una vez confirmada por un administrador, tu proveedor será público</li>
</ul>
<h5 class="font-weight-bold">¿Mi proveedor ha ganado, qué debo saber?</h5>
<p>Una vez realizadas las votaciones, en caso de que uno de tus proveedores presentados gane la votación, tendrás que encargarte de transmitir dicha información al proveedor y organizar la información para proceder con la compra y los envíos. Serás el enlace directo entre la plataforma y el proveedor.</p>
<p>Un ejemplo de información que deberías solicitar al proveedor, puede ser por ejemplo:</p>
<ul>
  <li>Qué canal de comunicación se debe seguir para realizar la compra ( web, correo, teléfono...etc)</li>
  <li>Qué métodos de pagon aceptan ( Paypal, a contrareembolso, tarjéta de credito, transferencia bancaria)</li>
  <li>Muy importante en caso de reclamaciones, como contactar con ellos ( un correo específico, un teléfono, etc)</li>
</ul>
<p>En caso de no tener correcto electrónico para dicho fin, esta plataforma les puede facilitar uno temporal de forma gratuita.</p>
<h5 class="font-weight-bold">¿Qué precio es el habitual, envían a Canarias o fuera de España?</h5>
<p>Por norma general, el precio suele rondar entre los 200€ y los 350€, todo depende de los productos que selecciones, también es posible bajar de este precio, por ejemplo, hay paletillas por 100€ o 110€ de enorme calidad.</p>
<p>En relación a los envíos, prácticamente todos los proveedores suelen enviar a cualquier punto de España y de forma menos usual a cualquier punto de Europa. No obstante, en caso de salir un proveedor que no envíe a los sitios mencionados anteriormente. El administrador de la plataforma se compromete a recibir el pedido y enviarlo a cualquier parte del mundo que el shur solicite, eso sí, todos los gastos a cargo del el mismo.</p>
{% endblock %}
