{% extends 'base.html.twig' %}

{% block title %}La Jamonjunta | FAQ{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb navigation">
    <li class="breadcrumb-item"><a href="{{ path('indice') }}">Índice</a></li>
    <li class="breadcrumb-item"><a href="">Información</a></li>
    <li class="breadcrumb-item"><a href="{{ path('proveedor') }}">Proveedor</a></li>
  </ol>
</nav>
<h5 class="font-weight-bold">Soy proveedor y quiero participar, qué debo hacer?</h5>
<p>Regístrate en la plataforma y realiza tu propuesta mediante el apartado habilitado para ello. En cualquier caso te recomendados que sigas las siguientes directrices:</p>
<ul>
  <li>
    <p>Envío de los productos y precios acorde a la propuesta. Si nos envías los mismos productos/precios que podemos ver en tu web la gente no se lo tomará enserio.</p>
  </li>
  <li>
    <p>Enviar una pequeña descripción de la empresa y productos.</p>
  </li>
  <li>
    <p>Preferiblemente la gente suele preferir lotes a productos, con esto quiero referirme a que es más probable que gane un proveedor con varios lotes a uno que solo ofrece productos sueltos.</p>
  </li>
  <li>
    <p>A dónde realizas los envíos, debes tener en cuenta que somos particulares de toda España por lo que deberás asumir las gestiones para realizar los envíos a cientos de sitios distintos, independientemente de si los portes van incluidos o no. Además una buena respuesta sería indicar si se envían a Canarias, Baleares o territorio Europeo. Ya que normalmente un bajo porcentaje de personas, suele residir fuera de la península.</p>
  </li>
</ul>
<h5 class="font-weight-bold">Qué ganas tú como proveedor?</h5>
<p>Aparte de las ventas que generes con esta conjunta, debes de tener en cuenta de que ForoCoches es una de las comunidades más grandes de España y de los foros más grandes del mundo. Con un tráfico de veinte a cuarenta mil usuarios simultáneos en la plataforma y alrededor de un millón de usuarios registrados, por lo que las recomendaciones de unos y otros es algo habitual en esta, nuestra comunidad.</p>
{% endblock %}
